@model List<OpenSaha.Models.Takim>
@{
    ViewData["Title"] = "Takimlar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
  <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Takımlar Listesi</h3>
              </div>
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th width="5%"></th>
                    <th>Takım Lider</th>
                    <th>Takım Adı</th>
                    <th>Şehir</th>
                    <th>İlçe</th>
                    <th>Kadro</th>
                    <th>Act</th>
                  </tr>
                  </thead>
                @foreach(var tkm in Model)
                {
                    <tbody>
                    <tr>
                    <td><a href="~/admin/kullanici/TakimGuncelle/@tkm.Id" class="btn btn-block btn-outline-info"><i class="fas fa-edit"></i></a></td>
                    <td>@tkm.Kullanici.Isim @tkm.Kullanici.Soyisim</td>
                    <td>@tkm.Baslik</td>
                    <td>@tkm.SehirListe.SehirAdi</td>
                    <td>@tkm.IlceListe.IlceAdi</td>
                    <td>@tkm.Kadro</td>
                    <td>@tkm.Act.ToString()</td>
                    </tr>
                    </tbody>
                }
                  <tfoot>
                  <tr>
                    <th></th>
                    <th>Takım Lider</th>
                    <th>Takım Adı</th>
                    <th>Şehir</th>
                    <th>İlçe</th>
                    <th>Kadro</th>
                    <th>Act</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
            </div>
           </div>
         </div>
        </div>
      </section>
