@model List<OpenSaha.Models.Rezervasyon>




    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">

         <div class="preloader flex-column justify-content-center align-items-center">
             <img class="animation__shake" src="~/Admin/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
         </div>


            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Rezervasyonlar Listesi</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">

                <table id="Datatablo" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th width="5%"></th>
                    <th>kullanici</th>
                    <th>Saha</th>
                    <th>Randevu Başlangıç</th>
                    <th>Randevu Bitşi</th>
                    <th>Randevu Durumu</th>

                  </tr>
                  </thead>
                  <tbody>
                      @foreach (var item in Model)
                    {      
                    <tr>
                    <td>                      
                   <div class="btn-group">
                      <div class="btn btn-block btn-danger"><i class="nav-icon fas fa-calendar-alt"></i></div>
                  </div>
                    <td>@item.Kullanici.Isim @item.Kullanici.Soyisim</td>
                    <td>@item.Saha.Baslik</td>
                    <td>@item.RandevuBaslangic</td>
                    <td>@item.RandevuBitis</td>
                    <td>@item.Durum.ToString()</td>

                  </tr>
}
                  
                  </tbody>
                  <tfoot>
                  <tr>
                    <th></th>
                    <th>kullanıcı</th>
                    <th>Saha</th>
                    <th>Randevu Başlangıç</th>
                    <th>Randevu Bitiş</th>
                    <th>Randevu Durumu</th>


                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            
</div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>

@section Heads{
<link rel="stylesheet" href="~/Admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/Admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/Admin/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
}
@section Scripts{
<script src="~/Admin/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Admin/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/Admin/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/Admin/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="~/Admin/plugins/jszip/jszip.min.js"></script>
<script src="~/Admin/plugins/pdfmake/pdfmake.min.js"></script>
<script src="~/Admin/plugins/pdfmake/vfs_fonts.js"></script>
<script src="~/Admin/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/Admin/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="~/Admin/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script>
  $(function () {
    $('#Datatablo').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
}